<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Savers Cleaning</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/compiled2.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar">
            <div class="container text-center">



                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto font-weight-bold">
                        <li class="nav-item">
                            <a class="nav-link light-blue-text" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link light-blue-text" href="/users/about">About Us</a>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item">
                            <a class="nav-link light-blue-text" href="/users/services">Services</a>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item">
                            <a class="nav-link light-blue-text" href="/users/packages">Cleaning Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link light-blue-text" href="/users/incentives">Financial Incentives</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link light-blue-text" href="/users/contact">Contact Us</a>
                        </li>
                    </ul>

                    <!-- Right -->
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li class="nav-item">
                            <a href="/users/contact" class="nav-link light-blue-text font-weight-bold" target="_blank">FREE Estimates!
                                    <i class="fa fa-phone"></i> 800-507-0409</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/TimeSaversCleaningATL/" class="nav-link light-blue-text" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->



        {{{body}}}



        <!-- Footer -->
        <footer class="page-footer font-small light-blue pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase">TimeSavers Cleaning</h5>
                        <p>"Giving you the luxury of Time for yourself."</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase ">Services</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="/users/services">Residential Cleaning</a>
                            </li>
                            <li>
                                <a href="/users/services">Office Cleaning</a>
                            </li>
                            <li>
                                <a href="/users/services">Commercial Cleaning</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Cleaning Packages</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="/users/packages">Light Cleaning</a>
                            </li>
                            <li>
                                <a href="/users/packages">Deep Cleaning</a>
                            </li>
                            <li>
                                <a href="/users/packages">Move In/Out</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="/"> TimeSaversCleaning.net</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/js/popper.min.js"></script>
        <script type="text/javascript" src="/js/compiled4.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>