<div class="view jarallax" data-jarallax='{"speed": 0.2}'
    style="background-image: url('/media/pexels-photo-1080721.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center; height: 50%;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center">
                    <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                        data-wow-delay="0.3s">
                        <strong>Cleaning Packages</strong>
                    </h1>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>

<div>
    <div class="container my-5 text-center light">
        <h3 class="font-weight-bold light-blue-text">Light Cleaning</h3>
        <div class="row">
            <div class="col-md-4">
                <!-- Card -->
                <div class="card card-cascade">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header blue-gradient">

                        <!-- Title -->
                        <h4 class="card-header-title mb-3">Bathrooms</h4>

                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-left">

                        <!-- Text -->
                        <ul class="card-text grey-text">
                            <li>Cobwebs removed - ceiling to floor</li>
                            <li>Air vents dusted</li>
                            <li>Ceiling fans dusted</li>
                            <li>Switch Plates cleaned</li>
                            <li>Doors and frames spot cleaned</li>
                            <li>Window blinds & shades dusted</li>
                            <li>Window Sills, ledges spot cleaned</li>
                            <li>Wall decor dusted</li>
                            <li>Shower doors cleaned</li>
                            <li>Tile walls cleaned</li>
                            <li>Countertops, vanity & mirrors cleaned</li>
                            <li>Cabinets spot cleaned</li>
                            <li>Sinks cleaned and sanitized</li>
                            <li>Chrome fixtures cleaned</li>
                            <li>Bathtubs/Showers sanitized</li>
                            <li>Toilets thoroughly sanitized</li>
                            <li>Baseboard dusted</li>
                            <li>Floors vacuumed & sanitized</li>
                            <li>Carpets vacuumed</li>
                        </ul>


                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col-md-4">
                <!-- Card -->
                <div class="card card-cascade">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header blue-gradient">

                        <!-- Title -->
                        <h4 class="card-header-title mb-3">Kitchen & Dining Areas</h4>

                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-left">

                        <!-- Text -->
                        <ul class="card-text grey-text">
                            <li>Cobwebs removed - ceiling to floor</li>
                            <li>Air vents dusted</li>
                            <li>Ceiling fans dusted</li>
                            <li>Switch Plates spot cleaned</li>
                            <li>Doors and frames spot cleaned</li>
                            <li>Window blinds & shades dusted</li>
                            <li>Window Sills, ledges cleaned</li>
                            <li>Countertops cleaned & sanitized</li>
                            <li>Cabinets fronts spot cleaned</li>
                            <li>Chrome fixtures cleaned</li>
                            <li>Backsplashes spot cleaned</li>
                            <li>All small and large appliances wiped clean (exterior)</li>
                            <li>Floors vacumed and sanitized</li>
                            <li>Stove tops & hoods wiped clean</li>
                            <li>Kitchen furniture spot cleaned</li>
                        </ul>

                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col-md-4">
                <!-- Card -->
                <div class="card card-cascade">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header blue-gradient">

                        <!-- Title -->
                        <h4 class="card-header-title mb-3">Bedrooms & Living Areas</h4>

                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-left">

                        <!-- Text -->
                        <ul class="card-text grey-text">
                            <li>Cobwebs removed - ceiling to floor</li>
                            <li>Air vents dusted</li>
                            <li>Ceiling fans dusted</li>
                            <li>Doors & frames spot cleaned</li>
                            <li>Switch Plates spot cleaned</li>
                            <li>Doors and frames spot cleaned</li>
                            <li>Window blinds & shades dusted</li>
                            <li>Window Sills, ledges & blinds spot cleaned</li>
                            <li>Picture frames dusted</li>
                            <li>Lamps and light fixtures dusted</li>
                            <li>Storm doors spot cleaned</li>
                            <li>Accessible areas vacuumed</li>
                            <li>Stairs vacuumed</li>
                            <li>Baseboard dusted</li>
                            <li>Wood Floors - vacuumed & mopped</li>
                            <li>Carpets vacuumed</li>
                        </ul>

                    </div>

                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
    <div class="deep">
        <div class="container my-5 text-center">
            <h3 class="font-weight-bold light-blue-text">Deep Cleaning</h3>
            <div class="row">
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-cascade">

                        <!-- Card image -->
                        <div class="view view-cascade gradient-card-header blue-gradient">

                            <!-- Title -->
                            <h4 class="card-header-title mb-3">Bathrooms</h4>

                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-left">

                            <!-- Text -->
                            <ul class="card-text grey-text">
                                <li>Cobwebs removed - ceiling to floor</li>
                                <li>Air vents dusted</li>
                                <li>Ceiling fans wiped down</li>
                                <li>Switch Plates cleaned</li>
                                <li>Doors and frames wiped clean</li>
                                <li>Window blinds & shades dusted</li>
                                <li>Window Sills, ledges & blinds wiped</li>
                                <li>Wall decor wiped and cleaned</li>
                                <li>Shower doors given extra attention</li>
                                <li>Tile walls wiped down and cleaned</li>
                                <li>Tile grout scrubbed</li>
                                <li>Countertops, vanity & mirrors cleaned</li>
                                <li>Cabinets hand wiped</li>
                                <li>Sinks cleaned and sanitized</li>
                                <li>Faucets/sinks tooth-brushed and sanitized</li>
                                <li>Chrome fixtures cleaned</li>
                                <li>Bathtubs/Showers sanitized</li>
                                <li>Toilets thoroughly sanitized</li>
                                <li>Baseboard and window sills wiped</li>
                                <li>Floors vacuumed & sanitized</li>
                                <li>Carpets vacuumed</li>
                            </ul>


                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-cascade">

                        <!-- Card image -->
                        <div class="view view-cascade gradient-card-header blue-gradient">

                            <!-- Title -->
                            <h4 class="card-header-title mb-3">Kitchen & Dining Areas</h4>

                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-left">

                            <!-- Text -->
                            <ul class="card-text grey-text">
                                <li>Cobwebs removed - ceiling to floor</li>
                                <li>Air vents dusted</li>
                                <li>Ceiling fans wiped down</li>
                                <li>Switch Plates cleaned</li>
                                <li>Doors and frames wiped clean</li>
                                <li>Window blinds & shades dusted</li>
                                <li>Window Sills, ledges & blinds wiped</li>
                                <li>Knick Knacks wiped & cleaned</li>
                                <li>Countertops cleaned & sanitized</li>
                                <li>Cabinets hand wiped</li>
                                <li>Faucets/sinks tooth-brushed and sanitized</li>
                                <li>Chrome fixtures cleaned</li>
                                <li>Backsplashes wiped clean</li>
                                <li>All small and large appliances wiped clean</li>
                                <li>Floors vacumed and sanitized</li>
                                <li>Stove tops & hoods wiped clean</li>
                                <li>Kitchen furniture wiped & polished</li>
                            </ul>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-cascade">

                        <!-- Card image -->
                        <div class="view view-cascade gradient-card-header blue-gradient">

                            <!-- Title -->
                            <h4 class="card-header-title mb-3">Bedrooms & Living Areas</h4>

                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-left">

                            <!-- Text -->
                            <ul class="card-text grey-text">
                                <li>Cobwebs removed - ceiling to floor</li>
                                <li>Air vents dusted</li>
                                <li>Ceiling fans wiped down</li>
                                <li>Doors & frames wiped clean</li>
                                <li>Switch Plates cleaned</li>
                                <li>Doors and frames wiped clean</li>
                                <li>Window blinds & shades dusted</li>
                                <li>Window Sills, ledges & blinds wiped</li>
                                <li>Picture frames cleaned</li>
                                <li>Wall decor wiped and cleaned</li>
                                <li>Lamps and light fixtures hand wiped</li>
                                <li>Wood furniture polished</li>
                                <li>Storm doors cleaned</li>
                                <li>Furniture & upholstery vacuumed</li>
                                <li>Pillows fluffed</li>
                                <li>Accessible areas vacuumed</li>
                                <li>Under furniture vacuumed</li>
                                <li>Stairs vacuumed</li>
                                <li>Baseboard and window sills wiped</li>
                                <li>Wood Floors - vacuumed & mopped</li>
                                <li>Carpets vacuumed</li>
                            </ul>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container my-5 text-center">
            <h3 class="font-weight-bold light-blue-text">Move In/Out</h3>
            <p class="grey-text"> At TimeSavers Cleaning Service, we're proud of our Move-in, Move-out cleaning package.
                You can utilize this
                service for your home, office, apartment, condo or townhouse if you are moving into a new home or out
                of your old place and would like to spruce up the place for showroom condition. ​ <br>This service is
                also ideal if
                you are a real estate agent, or property manager, not having the time to deal with or clean up after
                previous
                tenants have left behind a mess, that you shouldn't have to worry about. Call for pricing, as each home
                is unique.</p>
            <h4 class="font-weight-bold light-blue-text">We offer special lower prices for on-going and contracted
                accounts.</h4>
            <p class="grey-text">Whether you’re purchasing a new place or selling to move, we can make your life easier.
                You have enough to worry
                about, <br>so let TimeSavers Cleaning Service take the house cleaning chores off your list.</p>
        </div>
    </div>
    <!--CTA Section-->
    <div class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5" style="padding: 20px">
                    <h3 class="white-text font-weight-bold">Why wait? <br>Get Started now!</h3>
                    <a href="/users/contact" type="button" class="btn btn-rounded btn-info">
                        SCHEDULE A CLEANING TODAY!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="deep">
    <div class="container">
        <!-- Section: Testimonials v.2 -->
        <section class="text-center my-5">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold my-5 light-blue-text">What are people saying about us?</h2>

            <!-- Carousel Wrapper -->
            <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade"
                data-ride="carousel" data-interval="false">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                        <div class="testimonial">
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i> I have been using Tom at “Time Savers Cleaning
                                Services” for well over a year now.
                                I am very pleased with all aspects of his services. His promptness and efficiency
                                always
                                come through even when my schedule fluctuates. The quality of his work and attention
                                to detail is second to none. He gets a two thumbs up from me every time.
                                <i class="fa fa-quote-right"></i>
                            </p>
                            <h4 class="font-weight-bold">Mark C.</h4>

                        </div>
                    </div>
                    <!--First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                        <div class="testimonial">
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i> Tom has cleaned my office space for several years
                                and did such a great job that
                                he also does my personal home. Tom is always courteous, on time and does a great
                                job.
                                He is truly a pleasure to work with and I would recommend him to anyone that needs
                                cleaning
                                services.
                                <i class="fa fa-quote-right"></i>
                            </p>
                            <h4 class="font-weight-bold">Brian E.</h4>
                        </div>
                    </div>
                    <!--Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                        <div class="testimonial">
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i> Tom and his crew do an unbelievable job! They are
                                quick, efficient and well priced.
                                We definitely recommend them to anybody we know.
                                <i class="fa fa-quote-right"></i>
                            </p>
                            <h4 class="font-weight-bold">Joshua B.</h4>
                        </div>
                    </div>
                    <!--Fourth slide-->
                    <div class="carousel-item">
                        <div class="testimonial">
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i> Tom has been cleaning for us since Feb (2018). He
                                is very thorough. His first cleaning
                                was the most thorough we have ever had. We have him come only once every two weeks
                                as
                                we are a senior couple with limited needs. His pricing is certainly reasonable.
                                <i class="fa fa-quote-right"></i>
                            </p>
                            <h4 class="font-weight-bold">Marian & Roger J.
                                <h4>
                        </div>
                    </div>
                    <!--Fourth slide-->
                    <!--Fifth slide-->
                    <div class="carousel-item">
                        <div class="testimonial">
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i> Time Savers is literally a huge timesaver! We’ve
                                used this company for several years
                                and have been extremely satisfied! They are thorough and dependable! I highly
                                recommend
                                this company.
                                <i class="fa fa-quote-right"></i>
                            </p>
                            <h4 class="font-weight-bold">Savannah Mae L.
                                <h4>
                        </div>
                    </div>
                    <!--Fifth slide-->
                    <!--Sixth slide-->
                    <div class="carousel-item">
                        <div class="testimonial">
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i> We are so very happy with Time Savers! Tom is
                                always very punctual, kind, and our
                                house is truly shining when he leaves. He is very thorough with his cleaning and
                                pays
                                attention to every little detail. We have been thoroughly impressed! I highly
                                recommend
                                Time Savers to everyone who needs an awesome cleaning service for their home and
                                business.
                                <i class="fa fa-quote-right"></i>
                            </p>
                            <h4 class="font-weight-bold">Lora B.
                                <h4>
                        </div>
                    </div>
                    <!--Sixth slide-->
                    <!--Seventh slide-->
                    <div class="carousel-item">
                        <div class="testimonial">
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i>I have used Timesavers Cleaning Service for years
                                and have been very happy with the results. Tom and his crew always do a great job.
                                <i class="fa fa-quote-right"></i>
                            </p>
                            <h4 class="font-weight-bold">Anne C.
                                <h4>
                        </div>
                    </div>
                    <!--Seventh slide-->
                    <!--Eighth slide-->
                    <div class="carousel-item">
                        <div class="testimonial">
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i> I have been pleasantly surprised at both the
                                professionalism and attention to detail, that TimeSavers Cleaning has provided for
                                my family. Tom's estimate was fair, and the thorough cleaning was beyond compare...
                                Highly Recommended!!
                                <i class="fa fa-quote-right"></i>
                            </p>
                            <h4 class="font-weight-bold">Jessica S.
                                <h4>
                        </div>
                    </div>
                    <!--Eighth slide-->
                </div>
                <!--Slides-->
                <!--Controls-->
                <a class="carousel-item-prev left carousel-control" href="#carousel-example-1" role="button"
                    data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-item-next right carousel-control" href="#carousel-example-1" role="button"
                    data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--Controls-->
            </div>
            <!-- Carousel Wrapper -->

        </section>
        <!-- Section: Testimonials v.2 -->
    </div>
</div>